/* reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* fine reset */

/* common parts */
body{
    font-family: 'Nerko One', Arial, Helvetica, sans-serif;
    background-color: #B0E0E6;
}  
/* fine common parts */

/* Memory game container */

/* Header */
.container{
    width: 1024px;
    background-color: white;
    margin: auto;
}

h1{
    text-align: center;
    /* color:white; */
    font-size: 70px;
}
/* fine header */

/* main */

.card{
    width:20%;  
    height:200px;
    background-color:peru;
    display: inline-block;
}

/* fine main */


/* fine Memory game container */